apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: saiteja13/mini-feed-worker:v1
        env:
          - name: REDIS_URL
            value: "redis://redis:6379"
          - name: DATABASE_URL
            value: "postgresql://postgres:root@db:5432/minifeed"
